@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

/* custom styles */

.bg-weather-sunny { background: linear-gradient(135deg,#FFD194 0%,#D1913C 100%); }
.bg-weather-clouds { background: linear-gradient(135deg,#E0EAFC 0%,#CFDEF3 100%); }
.bg-weather-rain { background: linear-gradient(135deg,#D7D2CC 0%,#304352 100%); }
.bg-weather-night { background: linear-gradient(135deg,#2C3E50 0%,#4CA1AF 100%); }
